<section class="TodoSection">
  <div class="TodoSectionTitle">
    <h2 class="TodoSectionTitle-title"><%= section_title %></h2>
    <p class="TodoSectionTitle-remainingCount"><%= todos.completed.count %>/<%= todos.count %></p>
  </div>
  <ul>
    <% todos.each do |todo| %>
      <li class="TodoItem">
        <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
          <%= check_box_tag "completed", nil, todo.completed, class: "TodoItem-checkbox", onclick: "this.form.submit()" %>
        <% end %>
        <p class=" <%= todo.completed ? "strikethrough" : "" %>"><%= todo.todo_text %></p>
        <% if show_due_date %>
          <p class="TodoItem-date"><%= todo.due_date.to_s(:short) %></p>
        <% end %>
        <a class="TodoItem-delete">
          <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
            <%= image_submit_tag("icons/delete.svg", class: "TodoItem-delete-img") %>
          <% end %>
        </a>
      </li>
    <% end %>
  </ul>
</section>
